*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	height: 120vh;
	background-image: url(https://i.pinimg.com/originals/e1/2a/8e/e12a8ea15dc3cf40777ea8d7b01142d2.jpg);
	background-size: cover;
	background-position: center;
}
.navbar{
	width: 85;
	margin: auto;
	padding: 35xp 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 80vh;
}
.logo{
	width: 200px;
	cursor: pointer;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	margin-top: 30px;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 5px;
	width: 0%;
	background: darkred;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}
row {
  display: flex;
}

#mySearch {
  width: 30%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  margin-left: 30%;
  margin-right: 30%;
  background-color: lightgrey;
  color: #009688;
}

.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: white;
}
.content h1{
	font-size: 70px;
	margin-top: 80px;
}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25xp;
}
